<h1>All Artists <a href="/artists/new"> (+) </a> </h1>

<ul>
    <% @artists.each do |artist| %>
        <li>
            <a href="artists/<%=artist.id%>"> <%= artist.name %> </a>
        </li>
    <% end %>


</ul>
